target/
*.jar
*.war

.mvn/repository/
**/node_modules/
**/.gradle/
**/.idea/
**/.vscode/

*.iml
*.log
*.swp
*.swo
.DS_Store
*.class

.env
*.properties
*.yml
*.yaml
!src/main/resources/application.yml
!src/main/resources/application.yaml
!src/main/resources/application.properties

.git/
.gitignore

docker-compose.override.yml
